#AnchorParentOfAll{
    -fx-background-image: url('images/klondikeBGt.png');
    -fx-background-size: cover;

}

#deckydeck{
    -fx-background-image: url('images/deckBG.png');
    -fx-background-size: cover;

}

#idRegion{
    -fx-border-color: lightblue;
    -fx-cursor: HAND;
}

#idRegion:hover{

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

#clubsF{
    -fx-background-image: url('images/clubBG.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

#clubsF:hover {
    -fx-border-color: lightblue;
}

#diamondsF{
    -fx-background-image: url('images/diamondBG.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

#diamondsF:hover {
    -fx-border-color: lightblue;
}

#heartsF{
    -fx-background-image: url('images/heartsBG.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

#heartsF:hover {
    -fx-border-color: lightblue;
}

#spadesF{
    -fx-background-image: url('images/spadesBG.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

#spadesF:hover {
    -fx-border-color: lightblue;
}

#tb1{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb2{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb3{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb4{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb5{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb6{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}


#tb7{
    -fx-background-image: url('images/tableBgSlots.png');
    -fx-background-size: cover;
}